.flash.notice {
  color: #0000C0;
  background-color: rgba(0, 0, 255, 0.3);
}

.flash.error {
  color: #C00000;
  background-color: rgba(255, 0, 0, 0.3);
}

html, body
{
	height: 100%;
}

body {
	padding: 100px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      | width: 70%;
      | margin: 60%;
  | }
